#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.toolbar {
  margin-bottom: 20px;
}

.btn:nth-child(n + 2) {
  margin-left: 10px;
}

.btn:hover {
  background-color: #818080;
  color: white;
}

.btn:focus {
  background-color: black;
  color: white;
}

.btn:active {
  background-color: white;
  color: black;
}

.active {
  background-color: white;
  color: black;
}

.imgLists {
  display:block;  
}

.imgItem {
 width: 250px;
 height: auto;
 object-fit: contain;
}

.imgItem:nth-child(n + 2) {
  margin-left: 10px;
}